body {
  font-family: 'Nunito', Arial, sans-serif;
  font-size: 12px;
  margin: 0;
}
.top{
  display: flex;
  justify-content: space-between;
  margin: 0px 30px;
  padding-bottom: 20px;
  padding-top: 10px;
}
.navi{
  padding-top: 15px;
}
.navi a{
  margin: 18px;
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 15px;
}


h1, h2, h3, h4, h5, h6 {
  margin: 0;
}


/*
banner image
https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/melbourne.jpg


https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/fitzroy.jpg
https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/st-kilda.jpg
https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/central-business-district.jpg

*/
/**
For banner over lay add this class to your div
<div class="banner__container">
  <div>
      <!-- content goes here -->
  </div>
</div>
*/
.banner__container {
  position: relative;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/melbourne.jpg");
  background-size: cover;
  height: 550px;
  
}
.inside{
  text-align: center;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}
h1{
  font-size: 65px;
}
p1{
  display: flex;
  width: 400px;
  font-size: 15px;
  font-weight: 600; 
  padding-bottom: 20px;
}
#find_button a{
  background-color: rgb(252, 78, 78);
  padding: 10px 40px;
  text-decoration: none;
  color: white;
  font-size:15px;
  font-weight: 600; 
  border-radius: 5px;
  border-bottom:  4px solid red;
  
}
#find_button a:hover{
  background-color: rgb(250, 145, 145);
}
.banner__container:before {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.4);
  content: "";
}
.locals{
  display: flex;
  justify-content: space-around;
  margin: 60px 20px 30px 40px;
  
  
}
p2{
  font-size: 13px;
  font-weight: 500;
  padding: 10px 0px 10px 10px;
  
}
.box{
  display: flex;
  margin-bottom: 80px;
}
.left{
  width: 600px;
}
.right{
  width: 600px;
}
h3{
  background-color: rgb(211, 225, 240);
  padding: 5px;
}
h2{
  font-size: 30px;
  font-weight: bold;
}
p3{
  font-size: 15px;
  font-weight: 600;

}
.middle{
  text-align: center;
}
.img1{
  position: relative;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/fitzroy.jpg")
}
div .img1{
  width: 310px;
  height: 210px;
}
.img1:before {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.4);
  content: "";}

.img2{
  position: relative;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/st-kilda.jpg")
}
div .img2{
  width: 310px;
  height: 210px;
}
.img2:before {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.4);
  content: "";
}

.img3{
  position: relative;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/central-business-district.jpg")
}
div .img3{
  width: 310px;
  height: 210px;
}
.img3:before {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.4);
  content: "";
}

h4{
  font-size: 20px;
  color: white;
  z-index: 999;
}
p4{
  font-size: 15px;
  color: white;
  z-index: 999;
}

.images{
  position: relative;
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  

}
div .img1{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  
}
div .img2{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
div .img3{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 
}


.last{
  text-align: center;
  margin: 80px;
}
.footer{
  color: white;
  background-color: rgb(48, 46, 46);
  text-align: center;
  padding: 20px;
}








